.para {
  display: inline;
  font-size: 16px;
}
.container {
  width: 70%;
  background-color: aquamarine;
  border-radius: 3%;
  margin-left: 200px;
  margin-top: 20px;
  padding-left: 20px;
  text-align: center;
  height: 800px;
}
.first {
  margin-left: 200px;

  float: left;
}
.second {
  margin-left: 200px;
  float: left;
}
button {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  min-width: 50px;
}
input {
  border: none;
  size: 16px;
  outline: none;
  border-radius: 5px;
  height: 20px;
}
