.secondSection {
  height: 760px;
  color: grey;
  width: 1000px;
  background-color: rgb(234, 236, 241);

  margin-left: 250px;
}
.secondComponent {
  background-color: white;
  margin: 10px;
  margin-left: 90px;
  padding: 10px;
  width: 800px;
}
.day {
  width: 40px;
  height: 20px;
  background-color: rgb(22, 139, 185);
  border: rgb(22, 139, 185) solid 1px;
  color: white;
  text-align: center;
}

.date {
  width: 40px;
  height: 20px;
  background-color: white;
  border: rgb(22, 139, 185) solid 1px;
  color: rgb(22, 139, 185);
  text-align: center;
}
.dateCard {
  float: left;
  padding-right: 20px;
}
